@import "reset.css";
@import "popup.css";
@import "burger.css";

:root {
    --color-text-bg: #ffffff;

    --color-link-btn-bg: #AD1818;
    --color-link-btn-text: #FFFFFF;
    --border-radius-link-btn: 5px;

    --border-radius-link-btn-media: 4px;
}

body {
    /*width: 100%;*/
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.03em;
}

.container {
    margin: 0 auto;
    width: 1400px;
    padding: 0 125px 0;

    /*background-color: #ffffff;*/
}

/*Navigation*/

.header {
    margin: auto;
    padding-top: 33px;
    padding-bottom: 74px;
}

.navigation {
    float: right;
}

.navigation__link {
    margin-left: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.navigation__link:hover,
.navigation__link:active {
    /*transition: .2s;*/
    opacity: .5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}


/*Top-Block*/

.top__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

.top__img {
    background-image: url("../images/top-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 30px;
    margin-bottom: 150px;
    width: 100%;
    height: 500px;
}

.top__text {
    position: absolute;
    left: 40px;
    bottom: 40px;

    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

    color: var(--color-text-bg);
}

.block__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.block__text {
    margin-bottom: 30px;

    font-size: 47px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

.block__link {
    display: inline-block;
    margin-bottom: 150px;
    padding: 20px 40px;

    color: var(--color-link-btn-text);
    background-color: var(--color-link-btn-bg);
    border-radius: var(--border-radius-link-btn);
}

.block__link:hover {
    opacity: .7;
}


/*Projects*/

.projects__title {
    margin-bottom: 30px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.project__img {
    width: 100%;
    margin-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;

    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
}

.projects__link {
    display: inline-block;
    margin-bottom: 90px;

    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

    color: var(--color-link-btn-bg);
}

.projects__link:hover {
    transition: .6s;
    opacity: 0.7;
}

.link__btn {
    display: inline-block;
    width: 100%;
    /*height: 150px;*/
    padding-top: 56px;
    padding-bottom: 56px;
    margin-bottom: 150px;
    text-align: center;
    align-items: center;

    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    color: var(--color-link-btn-bg);

    border: 1px solid var(--color-link-btn-bg);
    border-radius: var(--border-radius-link-btn);
}

.link__btn:hover {
    transition: .6s;
    background-color: var(--color-link-btn-bg);
    color: var(--color-link-btn-text);
}


/*Services*/

/*section div:first-child {*/
/*    width: 100%;*/
/*    background-color: #000;*/
/*    color: var(--color-text-bg);*/
/*}*/

.section-black {
    color: var(--color-text-bg);
    background-color: #000;
}

.services__title {
    padding-top: 151px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.services__item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 106px;
    gap: 10px;
}

.services__list {
    position: relative;
    width: calc(50% - 5px);
}

.label {
    display: flex;
    position: absolute;
    margin: 30px;
    z-index: 1;
    width: 200px;
    height: 40px;

    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;

    background-color: var(--color-link-btn-bg);
    border-radius: 5px;
}

.services__img {
    position: relative;
    width: 100%;
    height: 389px;
    padding-bottom: 25px;
}

/*.services__link {*/
/*    display: inline-block;*/
/*    position: absolute;*/

/*    color: red;*/
/*    border: 1px solid var(--color-link-btn-bg);*/
/*    background-color: var(--color-link-btn-bg);*/
/*}*/

.services__text {
    padding-bottom: 60px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
}

.link__btn-wrapper {
    background-color: var(--color-link-btn-bg);
    color: var(--color-text-bg);
}

.link__btn-wrapper:hover,
.link__btn-wrapper:active {
    transition: .6s;
    opacity: 0.5;
}

/*Reviews*/

.reviews__title {
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
    padding-top: 150px;
    padding-bottom: 30px;
}

.reviews__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    gap: 51px;
    padding-bottom: 157px;
}

.review__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 calc(50% - 50px);
    max-width: 860px;
}

.review__text {
    padding-bottom: 14px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
}

.review__comment {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}



/*Slider*/

.gallery {
    position: relative;
}

.gallery__title-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    /*top: 67px;*/
}

.gallery__title {
    padding-top: 60px;
    /*top: 60px;*/
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;

    color: #fff;
}

.gallery__slides{
    position: relative;
    height: 717px;
}

.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}



.gallery__controls{
    position: absolute;
    left: auto;
    bottom: 165px;
    z-index: 10;
    display: flex;
    gap: 14px;
}

.gallery__prev,
.gallery__next {
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: left;
    width: 40px;
    height: 40px;
}

.gallery__prev:hover,
.gallery__next:hover {
    opacity: 0.5;
}

.gallery__prev {
    background-image: url('../images/arrows/arrow-prev.svg');
}

.gallery__next {
    background-image: url('../images/arrows/arrow-next.svg');
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__text {
    position: absolute;
    bottom: 60px;
    width: 100%;
    font-size: 30px;
    line-height: 41px;
    color: #fff;
}

.gallery__slide--active {
    opacity: 1;
}

/*Contacts*/

.contact__title {
    padding-top: 150px;
    padding-bottom: 74px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.contacts__item {
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    gap: 104px;
}

.contact__text {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

.contact__link-phone {
    position: relative;
}

.contact__link-mail {
    position: relative;
}

.contact__link-phone:before {
    position: absolute;
    content: '';
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    bottom: 80px;
}

.contact__link-mail:before {
    position: absolute;
    content: '';
    background-image: url("../images/mail.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;bottom: 80px;
}

.contact__link-phone:hover,
.contact__link-mail:hover,
.contact__link-phone:active,
.contact__link-mail:active {
    opacity: .5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}


/*Footer*/

.footer {
    padding: 60px 0 30px 0;

    background-color: #000000;
    color: #FFFFFF;
}

.footer__navigation {
    margin: auto;
    text-align: center;
    padding-bottom: 87px;
}



.footer__text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    opacity: 0.5;
}

/*@Media*/





@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 17px 0 17px;
    }

    .top__img {
        width: 100%;
        height: 500px;
        margin-bottom: 120px;
    }

    .top__title {
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
    }

    .top__text {
        bottom: 30px;
    }

    .block__title {
        margin-bottom: 30px;

        font-size: 18px;
        line-height: 25px;
    }

    .block__text {

        font-size: 35px;
        line-height: 48px;
    }

    .block__link {
        margin-bottom: 120px;
    }

    /*Projects-Media*/

    .project__title {
        margin-bottom: 10px;

        font-size: 25px;
        line-height: 34px;
    }

    .projects__link {
        margin-bottom: 80px;
    }

    .project__link-wrapper {
        margin-bottom: 102px;
    }

    .link__btn {
        margin-bottom: 103px;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
        padding-top: 56px;
        padding-bottom: 56px;
    }

    /*Services-Media*/

    .services__title {
        padding-bottom: 30px;

        font-size: 18px;
        line-height: 25px;
    }

    .services__img {
        padding-bottom: 15px;
    }

    .services__text {
        padding-bottom: 80px;

        font-size: 25px;
        line-height: 34px;
    }

    /*Reviews*/

    .reviews__title {
        padding-top: 117px;
    }

    .reviews__list {
        gap: 10px;
        padding-bottom: 120px;
    }

    .review__text {
        padding-bottom: 25px;

        font-size: 35px;
        line-height: 48px;
    }

    .review__comment {
        padding-bottom: 80px;

        font-size: 20px;
        line-height: 27px;
    }

    .review__comment-wrapper {
        padding-bottom: 0;
    }
}

@media (max-width: 1030px) {
    /*Contacts*/

    .contact__title {
        font-size: 18px;
        line-height: 25px;
    }

    .contacts__item {
        padding-bottom: 80px;
    }

    .contact__text {
        font-size: 45px;
        line-height: 60px;
    }
}

@media (max-width: 960px) {

    .gallery__title-wrapper {
       left: 50px;
    }

    .gallery__title {
        padding-top: 80px;
        /*top: 60px;*/
        font-size: 20px;
        line-height: 27px;
        text-transform: uppercase;

        color: #fff;
    }

    .gallery__controls {
        left: 40px;
    }

    .gallery__text {
        left: 50px;
        bottom: 60px;
        width: 100%;
        font-size: 25px;
        line-height: 34px;
        color: #fff;
    }

    /*Contacts*/

    .contact__title {
        padding-top: 120px;

        font-size: 18px;
        line-height: 25px;
    }

    .contacts__item {
        padding-bottom: 80px;
    }

    .contact__text {
        font-size: 45px;
        line-height: 60px;
    }
}

@media (max-width: 950px) {
    .services__list {
        width: 100%;
    }
}

@media (max-width: 900px) {
    /*Reviews*/

    .reviews__title {
        padding-top: 117px;
    }

    .reviews__list {
        flex-direction: column;
        gap: 10px;
        padding-bottom: 120px;
    }

    .review__text {
        padding-bottom: 25px;

        font-size: 35px;
        line-height: 48px;
    }

    .review__comment {
        padding-bottom: 80px;

        font-size: 20px;
        line-height: 27px;
    }

    .review__comment-wrapper {
        padding-bottom: 0;
    }
}

@media (max-width: 800px) {

    /*Contacts*/

    .contacts__item {
        display: flex;
        flex-direction: column;
        gap: 114px;
    }

    .contact__title {
        padding-top: 120px;

        font-size: 18px;
        line-height: 25px;
    }

    .contacts__item {
        padding-bottom: 80px;
    }

    .contact__text {
        font-size: 45px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 13px 0 13px;
    }

    .top__img {
        width: 100%;
        height: 400px;
    }

    .top__title {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 40px;
    }

    .top__img {
        margin-top: 0;
        margin-bottom: 80px;
    }

    .top__text {
        bottom: 15px;
        left: 15px;
    }

    .block__title {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 19px;
    }

    .block__text {
        font-size: 30px;
        line-height: 40px;
    }

    .block__link {
        margin-bottom: 80px;

        border-radius: var(--border-radius-link-btn-media);
    }

    .projects__title {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 20px;
    }

    .project__img {
        margin-bottom: 20px;
    }

    .project__title {
        margin-bottom: 11px;
    }

    .projects__link {
        margin-bottom: 50px;
        font-size: 18px;
    }

    .project__link-wrapper {
        margin-bottom: 60px;
    }

    .link__btn {
        margin-bottom: 144px;
        height: 100%;
        font-size: 20px;
        line-height: 30px;
        padding-top: 37px;
        padding-bottom: 37px;
    }

    /*Services*/

    .services__title {
        padding-top: 80px;
        padding-bottom: 20px;

        font-size: 15px;
        line-height: 19px;
    }

    .services__list {
        width: 100%;
    }

    .label {
        margin-top: 23px;
        margin-left: 24px;
        width: 160px;
        height: 30px;

        font-size: 14px;
        line-height: 19px;
    }

    .services__img {
        padding-bottom: 10px;
    }

    .services__text {
        padding-bottom: 60px;

        font-size: 18px;
        line-height: 25px;
    }

    /*Reviews*/

    .reviews__title {
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }

    .reviews__list {
        padding-bottom: 80px;
    }

    .review__text {
        padding-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
    }

    .review__comment {
        padding-bottom: 80px;
        font-size: 16px;
        line-height: 22px;
    }

    .review__comment-wrapper {
        padding-bottom: 0;
    }

    /*Slider-Gallery*/

    .gallery__controls{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        left: auto;
        bottom: 165px;
        z-index: 10;
        gap: 14px;
    }

    .gallery__title {
        padding-top: 60px;
        /*top: 60px;*/
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;

        color: #fff;
    }

    .gallery__text {
        left: 50px;
        bottom: 60px;
        width: 100%;
        font-size: 19px;
        line-height: 26px;
        color: #fff;
    }

    /*Contacts*/

    .contacts__item {
        display: flex;
        flex-direction: column;
        gap: 58px;
    }

    .contact__title {
        padding-top: 80px;
        padding-bottom: 58px;

        font-size: 14px;
        line-height: 19px;
    }

    .contacts__item {
        padding-bottom: 80px;
    }

    .contact__text {
        font-size: 35px;
        line-height: 45px;
    }

    .contact__link-phone:before {
        width: 18px;
        height: 24px;
        bottom: 60px;
    }

    .contact__link-mail:before {
        width: 24px;
        height: 18px;
        bottom: 60px;
    }

    /*Footer*/

    .footer {
        padding: 30px 0 25px 0;
    }

    .footer__navigation {
        padding-bottom: 41px;
    }

    .navigation__link {
        margin: 0;
        padding-left: 30px;
        font-size: 12px;
        line-height: 16px;
    }

    .footer__text {
        font-size: 13px;
        line-height: 18px;
    }

}

@media (max-width: 656px) {

    .top__img {
        width: 100%;
        height: 400px;
    }

    .top__title {
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 32px;
    }

    .top__text {
        font-size: 20px;
        line-height: 25px;
    }

    .block__text {
        font-size: 25px;
        line-height: 30px;
    }

    .project__title {
        font-size: 20px;
        line-height: 30px;
    }

    .projects__link {
        font-size: 15px;
        line-height: 22px;
    }

    .link__btn {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (max-width: 494px) {
    .top__img {
        height: 304px;
        background-position: 40%;
    }

    .top__text {
        font-size: 16px;
        line-height: 22px;
    }

    .block__title {
        font-size: 14px;
    }

    .block__text {
        font-size: 22px;
        line-height: 30px;
    }

    .block__link {
        font-size: 16px;
        line-height: 22px;
    }

    .projects__title {
        font-size: 14px;
        line-height: 19px;
    }

    .project__img {
        height: 328px;
    }

    .project__title {
        font-size: 18px;
        line-height: 25px;
    }

    /*Services*/

    .services__title {
        font-size: 14px;
        line-height: 19px;
    }

    .services__img {
        height: 240px;
    }

}


/* Смотреть все проекты */



